/*Downloaded from https://www.codeseek.co/shantikumarsingh/bootstrap-3-stepper-OOgGzG */
.stepper {
  margin: 50px 0;
}
.stepper .nav-tabs {
  position: relative;
  justify-content: space-between;
  border: 0;
}
.stepper .nav-tabs > li {
  position: relative;
  text-align: right;
  flex: 1;
  flex-direction: column;
  align-items: center;
  .step-text {
    font-size: 18px;
    font-weight: 300;
    color: $theme-clr;
    text-align: center;
    display: block;
    position: relative;
    left: 50%;
    @include translateX(-26px);
    @media screen and (max-width: 767px) {
      font-size: 12px;
      line-height: 14px;
      @include translateX(-16px);
    }
    // @include translateX(35%);
    @media screen and (max-width: 991px) {
      display: none;
      // @include translateX(22%);
    }
  }
  &.active {
    .step-text {
      font-weight: 700;
      @media screen and (max-width: 991px) {
        display: block;
      }
    }
  }
}
.stepper .nav-tabs > li:last-child {
  @media screen and (max-width: 767px) {
    padding-left: 20px;
  }
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    border-left: 18px solid #f1f1f1;
    border-bottom: 18px solid #f1f1f1;
    position: absolute;
    left: 0;
    top: 26px;
    margin-top: -9px;
    border-radius: 10px;
    @include rotate(45deg);
    @media screen and (max-width: 767px) {
      width: 25px;
      height: 25px;
      border-left-width: 8px;
      border-bottom-width: 8px;
      top: 25px;
      margin-top: 0;
      border-radius: 3px;
    }
  }
}
.stepper .nav-tabs > li:after {
  content: '';
  position: absolute;
  background: #f1f1f1;
  display: block;
  width: 100%;
  height: 18px;
  top: 38px;
  left: 0;
  z-index: 1;
  @media screen and (max-width: 767px) {
    height: 6px;
    top: 34px;
  }
}
.stepper .nav-tabs > li.completed::after {
  background: $theme-clr;
}
// .stepper .nav-tabs > li:last-child::after {
//   background: transparent;
// }
.stepper .nav-tabs > li.active:last-child .round-tab {
  background: $theme-clr;
}
.stepper .nav-tabs > li.active:last-child .round-tab::after {
  content: '✔';
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  display: block;
}
.stepper .nav-tabs a {
  width: 52px;
  height: 52px;
  margin: 20px auto;
  border-radius: 100%;
  border: none;
  padding: 0;
  color: #f1f1f1;
  display: inline-block;
  position: relative;
  @media screen and (max-width: 767px) {
    width: 32px;
    height: 32px;
    margin: 20px auto 10px auto;
  }
}
.stepper .nav-tabs a:hover {
  background: transparent;
  border: none;
}
.stepper .nav-tabs > .active > a, .stepper .nav-tabs > .active > a:hover, .stepper .nav-tabs > .active > a:focus {
  color: $theme-clr;
  cursor: default;
  border: none;
}
.stepper .tab-pane {
  position: relative;
  padding-top: 50px;
}
.stepper .round-tab {
  width: 52px;
  height: 52px;
  line-height: 52px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 0 0 8px #f1f1f1;
  color: $theme-clr;
  z-index: 2;
  position: absolute;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  @media screen and (max-width: 767px) {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    box-shadow: 0 0 0 2px #f1f1f1;
  }
}
.stepper .completed .round-tab {
  background: $theme-clr;
}
.stepper .completed .round-tab::after {
  content: '✔';
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  display: block;
}
.stepper .active .round-tab {
  background: #fff;
  background-color: $theme-clr2;
  // border: 2px solid $theme-clr2;
}
.stepper .active .round-tab:hover {
  background: #fff;
  background-color: $theme-clr2;
  // border: 2px solid $theme-clr2;
}
.stepper .active .round-tab::after {
  display: none;
}
.stepper .disabled .round-tab {
  background: #fff;
  color: #f1f1f1;
  border-color: #f1f1f1;
}
.stepper .disabled .round-tab:hover {
  color: #4dd3b6;
  border: 2px solid #a6dfd3;
}
.stepper .disabled .round-tab::after {
  display: none;
}